<main class="index">
<nav class="navbar navbar-dark bg-dark">
    <ul class="nav justify-content-center">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/login">login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/registro">SingUp</a>
  </li>
</ul>
</nav>
<div class="fondo">
    <div class="titulos">
    <h1>Buscamos profesionales TECH</h1>
    <h2>Registrate y aplica ahora mismo</h2>
    </div>
</div>
</main>