<div class="login">
    <div class="login2">
            <div class="container">
            <div class="contenedor">
                <div class="row">
                    <form class="form-group" action="/login" method="post">
                    <label for="username"></label>
                    <input type="text" name="username"  placeholder="username..." class="mt-3 form-control">
                    <label for="password"></label>
                    <input type="password" name="password"  placeholder="password..." class=" mt-3 form-control">
                    <button class="btn btn-success mt-3" type="submit">login</button>
                    </form>
                    <p style="color: #000; mx-auto;">{{message}}</p>
                    <hr>
                    <div>
                        <p style="color:#000;" class="mensaje2">no tenes cuenta?. <a href="/registro">Registrate</a></p>
                    </div>
                </div>
        </div>
        </div>
</div>
</div>