<div class="login">
    <div class="login2">
        <div class="container">
   <div class="contenedor2">
    <div class="row">
        <form class="form-group" action="/registro/create" method="post">
        <input type="text" name="username"  placeholder="username..." class=" mt-3 form-control">
        <input type="password" name="password"  placeholder="password..." class=" mt-3 form-control">
        <button class="btn btn-success mt-3" type="submit">sing up</button>
        </form>
        <p style="color: #000;">{{message}}</p>
        <hr>
        <div>
            <p style="color: #000;" class="mensaje2">ya tenes cuenta?. <a href="/login">inicia sesion</a></p>
        </div>
    </div>
    </div>
</div>
</div>
</div>


